<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>;
    <script>
        var app = angular.module('myapp',[]);
        app.controller('mycontrol',function($scope){
            $scope.result = function(){
                $scope.ans=''
                $scope.BMI = $scope.weig/($scope.heig*$scope.heig)
                if ($scope.BMI<18){
                    $scope.ans= 'Underweight'
                }
                else if ($scope.BMI<25){
                    $scope.ans= 'Normal'
                }
                else if ($scope.BMI<30){
                    $scope.ans= 'Overweight'
                }
                else{
                    $scope.ans= 'Obese'
                }
            }
        })
    </script>
</head>
<body ng-app="myapp" ng-controller="mycontrol">
    <h1>Calculate your Body Mass Index</h1>
    <fieldset>
        Weight(in kg): <input type="number" ng-model="weig"><br>
        Height(in m): <input type="number" ng-model="heig"><br>
        <button ng-click="result()">Get BMI</button>
    </fieldset>
    <p>{{ans}}</p>
</body>
</html>